[Unit]
Description=PowerDNS Authoritative Server
Wants=network-online.target
After=network-online.target mysqld.service postgresql.service slapd.service
Documentation=man:pdns_server(1)
Documentation=man:pdns_control(1)

[Service]
Type=notify
ExecStart=/usr/sbin/pdns_server --guardian=no --daemon=no --disable-syslog --write-pid=no
Restart=on-failure
RestartSec=1
StartLimitInterval=0
PrivateTmp=true

[Install]
WantedBy=multi-user.target
